.register__input {
    margin: 0 auto 30px auto;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #CCCCCC;
    background-color: black;
    border: none;
    width: 358px;
    height: 14px;
    padding-bottom: 11px;
    border-bottom: 1px solid #CCCCCC;
    overflow: hidden;
    text-overflow: ellipsis;
}



.register__input:focus {
    outline: none;
}