.card__trash-button {
    visibility: hidden;
    background: url(../../../images/trash-button.png) no-repeat center;
    object-fit: cover;
    box-sizing: border-box;
    width: 18px;
    height: 19px;
    position: absolute;
    top: 20px;
    right: 20px;
    border: none;
}

.card__trash-button:hover {
    cursor: pointer;
    opacity: 0.5;
}