.card__like {
    display: flex;
    align-self: center;
    background-image: url(../../../images/heart.svg);
    object-fit: cover;
    min-width: 17px;
    min-height: 19px;
    width: 100%;
    border: none;
    padding: 0;
    background-color: white;
    margin-right: 5px;
    margin-bottom: 3px;
    transition: .4s ease-in-out;
}

.card__like:hover {
    opacity: 0.5;
    cursor: pointer;
}