.popup__container {
    position: relative;
    width: 430px;
    display: flex;
    flex-direction: column;
    background: #FFFFFF;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    opacity: 1;
}

@media screen and (max-width:450px) {
    .popup__container {
        max-width: 282px;
        width: 100%;
    }
}