.profile__add-button {
    display: block;
    background: url(../../../images/profile__add-button.svg);
    background-position: center;
    background-repeat: no-repeat;
    max-width: 150px;
    width: 100%;
    min-height: 50px;
    object-fit: cover;
    border: 2px solid #FFFFFF;
    border-radius: 2px;
    margin: 0 0 15px auto;
    padding: 0;
}

@media screen and (max-width: 892px) {
    .profile__add-button {
        margin-right: 5%;
    }
}

@media screen and (max-width: 768px) {
    .profile__add-button {
        max-width: 70%;
        margin: 50px auto 0 auto;
    }
}

@media screen and (max-width: 425px) {
    .profile__add-button {
        background: url(../../../images/profile__add-button_mobile.svg) no-repeat center;
        max-width: 282px;
        margin: 36px auto 36px auto;
    }
}

.profile__add-button:hover {
    opacity: 0.6;
    cursor: pointer;
}